.converter {
    padding-top: 2.75rem;
    padding-bottom: 6rem;
    background-color: var(--main-color);
}

.converter .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5625rem;
    padding: 1rem;
    margin: auto;
    background-color: white;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
    border-radius: 0.65rem;
}

/* Style the h1 */
.converter .container #currency-info {
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
}

/* Remove number input arrows for all browsers */
input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none; 
    appearance: none;
}

.converter .container #amount {
    width: 100%;
    padding: 1.65rem 1.25rem;
    margin-top: 1.1rem;
    margin-bottom: 0.4rem;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 0.3125rem;
    font-weight: 500;
    font-size: 1.35rem;
}

.converter .container #amount:focus {
    border: 2px solid;
    border-color: var(--input-color-focus);
    outline: none;
    box-shadow: 0 0 4px var(--button-color);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.converter .container .choices__inner {
    padding: 1.65rem 1.25rem;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 0.3125rem;
    background-color: hsl(0, 0%, 100%);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.25rem;

}

.choices.is-focused {
    border-radius: 0.3125rem;
    border: 2px solid var(--input-color-focus);
    box-shadow: 0 0 4px var(--button-color);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.choices__input:focus {
    border: 2px solid var(--input-color-focus);
    outline: none;
    box-shadow: 0 0 4px var(--button-color);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.choices__list--dropdown {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 0.3125rem;
}

.converter .container .dropdown-label {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: hsl(0, 0%, 40%);
    text-align: left;
}






/* currency select styles

.converter .container .select-currency {
    width: 100%;
    padding: 1rem 1rem;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 1rem;
}

.converter .container .select-currency:focus {
    border: 2px solid;
    border-color: var(--input-color-focus);
    outline: none;
    box-shadow: 0 0 4px var(--button-color);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

*/



@media (min-width: 48em) {
    .converter {
        padding-top: 5rem;
    }
}

/* ~992px laptops */  
@media (min-width: 62em) {
    .converter {
        padding-top: 5rem;
    }
}