.header {
    background-color: var(--main-color);
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
    text-align: center;
    padding-top: 1.25rem;
}

.header .logo{
    font-size: 1rem;
    line-height: 1.4;
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.header .logo:hover {
    cursor: pointer;
}

.header .divider {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
    border: 1px solid var(--button-color);
}

/* Medium devices: Tablets */
@media (min-width: 37.5em) {

    .header .logo {
        font-size: 1.1875rem;
    }
}

/* Large devices: Laptops and desktops */
@media (min-width: 64em) {
    
    .header .logo {
        font-size: 1.3125em;
        letter-spacing: 0.08em;
    }
}